.header-container {
    display: flex;
    height: 12vh;
    width: 95vw;
    /* border: 1px solid red; */
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    height: 100%;
    width: 15%;
    padding-left: 20px;
    border: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: start;
}

.search-bar-container {
    height: 100%;
    width: 50%;
    border: 1px solid yellow;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info-container {
    height: 100%;
    width: 25%;
    padding-right: 20px;
    border: 1px solid green;

    display: flex;
    align-items: center;
    justify-content: end;
}