.favlist-container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.favlist-metadata {
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    /* border: 1px solid yellow; */
    background-color: #523973;
    padding-left: 5%;
}

.favlist-metadata > p {
    margin: 0;
}

.favlist-metadata > p#main-text {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 5%;
    margin-top: 3%;
}

.favlist-metadata > p#additional-info {
    font-size: 15px;
}

.favlist-list-container {
    max-height: 80%;
    width: 100%;
    border: 1px solid yellow;

    flex-flow: row wrap;
    overflow-y: scroll;
    scrollbar-width: none;
}

.first-spin {
    animation: first-spin 0.2s linear forwards;
}

.second-spin {
    animation: second-spin 0.2s linear forwards;
}

.bottom-pos {
    transform: scaleY(-1); 
}

.drop-down {
  animation: drop-down 0.3s linear forwards;
}

.back-up {
  animation: back-up 0.3s linear forwards;
}

.closed_pos {
  height: 0;
}

.open_pos {
  height: 80%;
}

/* ANIMATIONS */

@keyframes first-spin {
          0% {
            transform: rotate(0deg);
          }
          50% {
            transform: rotate(90deg);
          }
          100% {
            transform: rotate(180deg);
          }
        }

@keyframes second-spin {
          0% {
            transform: rotate(180deg);
          }
          50% {
            transform: rotate(270deg);
          }
          100% {
            transform: rotate(360deg);
          }
  }

@keyframes drop-down {
  0% {
    height : 0;
  }
  25% {
    height : 20%;
  }
  50% {
    height : 40%;
  }
  75% {
    height : 60%;
  }
  100% {
    height : 80%;
  }
}

@keyframes back-up {
  0% {
    height : 80%;
  }
  25% {
    height : 60%;
  }
  50% {
    height : 40%;
  }
  75% {
    height : 20%;
  }
  100% {
    height : 0;
  }
}